@page "/"
@using HackathonVidlaci.Classes

<PageTitle>PamatkyNaHadky</PageTitle>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        body {
            background-color: #f7efd3; /* Light cream background */
        }

        h1 {
            color: #475c6c; /* Dark blue-grey for the title */
        }

        p {
            color: #8a8583; /* Medium grey for the paragraph */
        }

        select, input {
            border-color: #cd8b62; /* Warm terracotta for form borders */
        }

            select:focus, input:focus {
                border-color: #475c6c; /* Dark blue-grey on focus */
                box-shadow: 0 0 5px rgba(71, 92, 108, 0.5);
            }

        .form-group {
            margin-bottom: 15px;
        }

        .map-container {
            width: 100%;
            height: 500px;
            background-color: #eed7a1; /* Soft beige map placeholder */
            border: 2px solid #cd8b62; /* Terracotta border */
        }
    </style>
</head>
<div class="container">
    <div class="col-md-2">

    <h1>Památky Na Hádky</h1>
    <p>Zde najdete zábavu pro vás i celou vaši rodinu</p>
    </div>
</div>
<Form class="form-group">
    
    <div>
        Pohlaví
        <select name="SexName" id="SexID">
            <option selected disabled>...</option>
            <option>Muž</option>
            <option>Žena</option>
            <option>Útočná helikoptéra</option>
            <option>Nechci uvádět</option>
        </select>
    </div>
    <div>
        Věk 
       <Input type="number" max="99" id="AgeID" name="AgeName"/>
    </div>
    <div>
        Počet dětí
        <input id="kidsNumberID" name="KidsNumberName" type="number" min="0"/>
    </div>
    <div>
        Délka zábavy
        <input type="time" max="12:00" step="600"/>
    </div>
    <div>
        Rozpočet (KČ)
        <input type="number"/>
    </div>
    <div>
        Možnost přepravy
        <select>
            <option selected disabled>...</option>
            <option>
                Automobil
            </option>
            <option>
                Pěšky
            </option>
            <option>
                MHD
            </option>
        </select>
    </div>
    <div class="col-md-10">
        <h3>Mapa</h3>
        <div class="map-container" id="map">
          
            <p style="text-align: center; color: #475c6c;">Mapa zde</p>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13); // Default location (London)

        // Load and display a tile layer on the map (OpenStreetMap tiles)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Check if geolocation is available
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                // Get user's current coordinates
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;

                // Update the map to the user's location
                map.setView([lat, lon], 13);

                // Add a marker at the user's current location
                L.marker([lat, lon]).addTo(map)
                    .bindPopup("You are here!")
                    .openPopup();
            }, function (error) {
                alert("Unable to retrieve your location: " + error.message);
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HZ5S65z4FcAz7QHnA9EjZCQKNjDd6V/QfbuSnP0MtXMQXpTFU/yICp8HkmMfQ0zz"
            crossorigin="anonymous"></script>
</Form>
