@page "/"
@using HackathonVidlaci.Classes
@inject IJSRuntime Js
@rendermode InteractiveServer
@inject HradyContext hradyContext
@inject HrobyContext hrobyContext
@inject DivadlaContext divadlaContext
@inject ZamkyContext zamkyContext
@inject KulturniDomyContext kulturniDomyContext
@inject TechnickePamatkyContext technickePamatkyContext
<PageTitle>PamatkyNaHadky</PageTitle>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<div>


    <h1>Památky Na Hádky</h1>
    <p>Na této stránce můžete najít zábavu pro vás i vaši celou rodinu</p>
    <MapPage></MapPage>
  
</div>
<Form>
    
    <div>
        Pohlaví
        <select name="SexName" id="SexID">
            <option selected disabled>...</option>
            <option>Muž</option>
            <option>Žena</option>
            <option>Útočná helikoptéra</option>
            <option>Nechci uvádět</option>
        </select>
    </div>
    <div>
        Věk 
       <Input type="number" max="99" id="AgeID" name="AgeName"/>
    </div>
    <div>
        Počet dětí
        <input id="kidsNumberID" name="KidsNumberName" type="number" min="0"/>
    </div>
    <div>
        Délka zábavy
        <input type="time" max="12:00" step="600"/>
    </div>
    <div>
        Rozpočet (KČ)
        <input type="number"/>
    </div>
    <div>
        Možnost přepravy
        <select>
            <option selected disabled>...</option>
            <option>
                Automobil
            </option>
            <option>
                Pěšky
            </option>
            <option>
                MHD
            </option>
        </select>
    </div>
  
    
</Form>

@code {




}
