@page "/"
@using HackathonVidlaci.Classes
@inject HradyContext hradyContext
@inject HrobyContext hrobyContext
@inject DivadlaContext divadlaContext
@inject ZamkyContext zamkyContext
@inject KulturniDomyContext kulturniDomyContext
@inject TechnickePamatkyContext technickePamatkyContext

<PageTitle>Home</PageTitle>
@* 
@foreach (var line in msg){
    
    <p>@line</p>
} *@

<Map></Map>

<button class="btn btn-primary" @onclick="klik">Load data</button>
